# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://help.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: 'nuget'
    directory: '/'
    schedule:
      interval: 'monthly'
      time: '02:00'
    open-pull-requests-limit: 20
    groups:
      microsoft:
        patterns: ['Microsoft*']
        exclude-patterns:
          - 'Microsoft.IdentityModel.Protocols.OpenIdConnect' # different team and cycle
      system:
        patterns: ['System*']
      xunit:
        patterns: ['Xunit*']

  - package-ecosystem: 'dotnet-sdk'
    directory: '/'
    schedule:
      interval: 'monthly'
      time: '02:00'

  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'monthly'
      time: '02:00'

  - package-ecosystem: 'devcontainers'
    directory: '/'
    schedule:
      interval: 'monthly'
      time: '02:00'
